.file-upload-file-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 20px 0;

  .delete-img-icon {
    position: absolute;
    top: 37.5px;
    right: 40px;
    width: 15px;
    height: 15px;
    background: #ff3e3e;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
  }

  .file-upload-container {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #fff;
    cursor: pointer;

    .file-upload-input {
      display: none;
      background-color: #fff;
    }

    .file-upload-style-label {
      display: block;
      color: var(--second-color);
      font-size: 14px;
      margin-bottom: 5px;
    }

    .file-upload-click-label {
      position: absolute;
      top: 26px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 40px;
      border-radius: 5px;
      padding: 0 15px;
      background-color: #f7f7f7;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;
      font-size: 12px;
      cursor: pointer;
      &.view-only {
        cursor: not-allowed;
      }
      .upload-icon {
        [fill] {
          fill: var(--main-color);
        }
      }
    }
  }

  .existing-file {
    margin-top: 35px;
    color: var(--second-color);
    font-size: 14px;
    padding: 5px 0px;
    cursor: pointer;
    text-decoration: underline;
  }
}

[dir="rtl"] {
  .file-upload-file-container {
    .delete-img-icon {
      left: 40px;
      right: auto;
    }
  }
}
