.errors-section-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .request-errors-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    border-radius: 5px;
    gap: 10px;
    .err-message {
      color: #842029;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      gap: 10px;
      font: {
        size: 14px;
        // family: "Noto Sans Arabic", sans-serif;
        weight: bold;
      }
      .err-text {
        color: #842029;
      }
    }
  }
}
